[Desktop Entry]
Encoding=UTF-8
Name=Link to A Detailed Guide on OSCP Preparation - From Newbie to OSCP - Checkmate
Type=Link
URL=http://niiconsulting.com/checkmate/2017/06/a-detail-guide-on-oscp-preparation-from-newbie-to-oscp/
Icon=text-html
